
@import url(https://fonts.googleapis.com/css?family=Open+Sans);=

body{
	margin: 0 auto;
	font-family: 'Open Sans'
}

body, p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  padding: 30px;
	}

#tab {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.6;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: white;
	padding: 0px;
	margin-left: 15px;
	}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
  margin: 20px 0 10px;
  padding: 0;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative; }
	h1 tt, h1 code {
	  font-size: inherit; }

	h2 tt, h2 code {
	  font-size: inherit; }

	h3 tt, h3 code {
	  font-size: inherit; }

	h4 tt, h4 code {
	  font-size: inherit; }

	h5 tt, h5 code {
	  font-size: inherit; }

	h6 tt, h6 code {
	  font-size: inherit; }

	h1 {
	  font-size: 28px;
	  color: black;
		border-bottom: 1px solid #cccccc;
		color: black;}

	h2 {
	  font-size: 20px;}

	h3 {
	  font-size: 18px; }

	h4 {
	  font-size: 16px; }

	h5 {
	  font-size: 14px; }

	h6 {
	  color: #777777;
	  font-size: 14px; }

div table, th, td {
	border-collapse: collapse;
	text-align: center;
}

div hr {
    border: 0;
    height: 1px;
    background: #ccc;
		width: 100%;
}


#biod {
		font-family: 'Open Sans', sans-serif;
		border-collapse: collapse;
		padding: 0;
		font-size: 11;
		overflow:auto;
}


#biod th {
		font-weight: bold;

		background-color: #424242;
		color: white;
		border-collapse: collapse;
}

.card-body {
	height: 100%;
}

.card-body li {
	height: 35px;
	line-height: 35px;
}
